* {
    margin:0;
    padding:0;
}

.tooltips-item{
    display:flex;
    display:-webkit-flex;
    justify-content: space-between;
    color:#33333c;
    font-size:10px;
    width:120px;
}
.green{
    color:#009933
}
.red{
    color:#E24528
}